<!DOCTYPE html>
<html>
<head>
    <title>Message</title>
    <style>
        body {
            font-family: Arial;
            background-color: #f4f6f9;
            text-align: center;
            padding-top: 150px;
        }

        .box {
            background: white;
            display: inline-block;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
        }

        a {
            text-decoration: none;
            color: #0072ff;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>{{ message }}</h2>
    <br>
    <a href="/">Go to Login</a>
</div>

</body>
</html>